<section class="contact-section" id="contact">
    <h1 class="section-title text-center mb-5">Contact Me</h1>

    <div class="contact-cards-container">
        <div class="contact-card">
            <i class="fas fa-phone-alt"></i>
            <h4>Phone</h4>
            <p>+91 7276340501</p>
        </div>

        <div class="contact-card">
            <i class="fas fa-envelope"></i>
            <h4>Email</h4>
            <p>{{email}}</p>
        </div>

        <div class="contact-card">
            <i class="fab fa-linkedin-in"></i>
            <h4>LinkedIn</h4>
            <p><a style="text-decoration: none; color: white;"
                    href="https://www.linkedin.com/in/shantanukanade-sk?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    target="_blank">linkedin.com/in/shantanu-kanade</a></p>
        </div>

        <div class="contact-card">
            <i class="fas fa-map-marker-alt"></i>
            <h4>Location</h4>
            <p>Pune, Maharashtra, India</p>
        </div>
    </div>
</section>