<h1 class="section-title" style="padding-top: 120px;">About Me</h1>

<section class="skills-section padding card py-5 text-white">
    <div class="row pt-4 pb-5">
        <div class="col-xl-3 col-md-6 mb-4 p-3" *ngFor="let item of aboutCards">
            <div class="card h-100 shadow-card">
                <div class="card-body text-center">
                    <i class="{{ item.icon }} card-icon mb-3"></i>
                    <p>{{ item.text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>