<div class="home-section">
    <!-- Web Navbar -->
    <nav class="navbar web-navbar animate__animated animate__fadeInDown">
        <div class="logo">
            <img src="./assets/files/Logo.png" alt="" width="200">
            Welcome to SK'S world !
        </div>
        <ul class="nav-links d-none d-lg-flex">
            <li><a (click)="scrollToSection('about')">About</a></li>
            <li><a (click)="scrollToSection('skills')">Skills</a></li>
            <li><a (click)="scrollToSection('experience')">Experience</a></li>
            <li><a (click)="scrollToSection('contact')">Contact</a></li>
        </ul>
    </nav>

    <!-- Mobile Navbar -->
    <nav class="navbar d-flex justify-content-center mobile-navbar animate__animated animate__fadeInDown">
        <img src="./assets/files/Logo.png" alt="" width="200">
        <!-- <ul class="nav-links ps-0">
        <li><a (click)="scrollToSection('about')">About</a></li>
        <li><a (click)="scrollToSection('skills')">Skills</a></li>
        <li><a (click)="scrollToSection('experience')">Experience</a></li>
        <li><a (click)="scrollToSection('contact')">Contact</a></li>
    </ul> -->
    </nav>

    <div class="hero mb-5 animate__animated animate__fadeInUp">
        <div class="futuristic-card glow-pulse text-center">
            <div class="hero-text animate__animated animate__fadeInDown">
                <h4 class="mb-3 mt-2">Hello, It's Me</h4>
                <h1>Shantanu Kanade</h1>
                <h3 class="mb-5">And I'm a <span class="highlight">Frontend Developer</span></h3>

                <div class="socials" aria-label="Contact Links">
                    <a href="mailto:shantanukanade2@gmail.com" aria-label="Send email to Shantanu Kanade">
                        <i class="fas fa-envelope" style="font-size: 23px;" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/shantanukanade-sk" target="_blank" rel="noopener noreferrer"
                        aria-label="Visit LinkedIn profile of Shantanu Kanade">
                        <i class="fab fa-linkedin-in" style="font-size: 23px;" aria-hidden="true"></i>
                    </a>
                    <a href="tel:+917276340501" aria-label="Call Shantanu Kanade">
                        <i class="fas fa-phone" style="font-size: 20px; position: relative; top: -1px;"
                            aria-hidden="true"></i>
                    </a>
                </div>


                <a href="./assets/files/Shantanu-Kanade-Resume.pdf" download class="btn mt-5">
                    <i class="fas fa-download"></i> Download CV
                </a>
            </div>
        </div>
    </div>
    <div class="scroll-down-icon text-center mt-4">
        <i class="fas fa-angle-double-down scroll-bounce" (click)="scrollToSection('about')"></i>
    </div>
</div>


<div class="padding text-center pt-5 pb-5" id="about" data-aos="fade-up">
    <app-about></app-about>
</div>

<div class="padding text-center pt-5 pb-5 paddingTop" id="skills" data-aos="fade-up">
    <app-skills></app-skills>
</div>

<div class="padding text-center pt-5 pb-5" id="experience" data-aos="fade-up">
    <app-experience></app-experience>
</div>

<div class="padding text-center pt-5" id="contact" data-aos="fade-up">
    <app-contact></app-contact>
</div>

<button class="scroll-to-top" [ngClass]="{ 'visible': showScrollTop }" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
</button>