<section class="skills-section card py-5 text-white WebView">
    <h1 class="section-title text-center mb-5">My Skills</h1>
    <div class="container">
        <h3 class="text-center mb-5" style="font-weight: 600 !important;">Tools & Technologies</h3>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 p-xl-3 p-lg-3 p-md-3"
                *ngFor="let tool of tools">
                <div class="flip-card glass-card">
                    <div class="flip-inner">
                        <div class="flip-front d-flex justify-content-between align-items-center px-3">
                            <h3 class="skill-title m-0">{{ tool.name }}</h3>
                            <i class="bi {{ tool.icon }} tool-icon-big"></i>
                        </div>
                        <div class="flip-back">
                            <div class="text-center">
                                <p class="glow-text mb-2">{{ tool.name }}</p>
                                <div class="progress" style="height: 8px; background: #000; border-radius: 20px;">
                                    <div class="progress-bar bg-dark" [style.width.%]="tool.proficiency"
                                        style="background-color: #111 !important; border-radius: 20px;">
                                    </div>
                                </div>
                                <p class="mt-2" style="font-size: 0.9rem; color: #c7c7c7;">
                                    <strong> {{ tool.proficiency }}%</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="skills-section card py-5 text-white PhoneView">
    <h1 class="section-title text-center mb-5">My Skills</h1>
    <div class="container p-3 pt-0 pb-0">
        <h3 class="text-center mb-5" style="font-weight: 600 !important;">Tools & Technologies</h3>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 p-xl-3 p-lg-3 p-md-3">
                <div class="glass-card" style="
                     color: rgba(235, 235, 235, 0.918);border-radius: 20px;">
                    <div class="card-body" *ngFor="let tool of tools">
                        <div class="flip-front d-flex justify-content-between align-items-center px-3">
                            <h4 class="skill-title m-0" style="font-size: 18px !important">{{ tool.name }}</h4>
                            <i class="bi {{ tool.icon }} tool-icon-big"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>