.section-title {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

.experience-section {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #003a4e, #007f8b);
    color: white;
    text-align: center;
    border-radius: 20px;
}

.exp-company-info i {
    font-size: 2rem;
    color: #00f0ff;
    margin-bottom: 0.5rem;
}

.exp-company-info h3 {
    margin: 0.5rem 0 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.exp-company-info span {
    color: #ddd;
    font-size: 1rem;
}

/* 🌐 Web View: Show on screen width > 500px */
@media (min-width: 501px) {
    .exp-card {
        background-color: #172135;
        padding: 1.5rem;
        border-radius: 20px;
        color: #eee;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
        transition: transform 0.3s ease;
    }

    .exp-card:hover {
        transform: scale(1.05);
    }

    .exp-company-info {
        margin-bottom: 3rem;
        color: #ffffff;
    }
}

/* 📱 Mobile View: Show on screen width <= 500px */
@media (max-width: 500px) {
    .exp-card {
        color: #eee;
        text-align: left;
    }

    .exp-company-info {
        margin-bottom: 4rem;
        color: #ffffff;
    }
}



.exp-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
}

@media (max-width: 400px) {

    .exp-card {
        color: #eee;
        text-align: center;
    }

    .exp-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .exp-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra-large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .exp-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}




.exp-card i {
    font-size: 1.8rem;
    color: #00f0ff;
    margin-bottom: 1rem;
}